{% extends '@App/layout.html.twig' %}
{% block body %}
    <body class="cl">
    <div id="wrapper" class="sub-wrapper">
        <h1>Paramètres</h1>
        <ul class="nav">
            <li class="bk">
                <a href="{{ url('app_default_index') }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/chevron-left-16.png"
                         alt="">
                    <span>Retour</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'timeout'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/stopwatch-16.png"
                         alt="">
                    <span>Retardateur</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'sharpness'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/eye-outline-16.png"
                         alt="">
                    <span>Netteté</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'contrast'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/adjust-contrast-16.png"
                         alt="">
                    <span>Contraste</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'brightness'}) }}">
                    <img class="icon"
                         src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/adjust-brightness-16.png"
                         alt="">
                    <span>Luminosité</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'saturation'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/pipette-16.png" alt="">
                    <span>Saturation</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'colfx'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/leaf-16.png" alt="">
                    <span>Colorisation</span>
                </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'iso'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/flow-parallel-16.png"
                         alt="">
                    <span>ISO</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'awb'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/tabs-outline-16.png"
                         alt="">
                    <span>Bal. des blancs</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'exposure'}) }}">
                    <img class="icon"
                         src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/weather-partly-sunny-16.png"
                         alt="">
                    <span>Exposition</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'metering'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-minimise-16.png"
                         alt="">
                    <span>Mise au point</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'quality'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/chart-bar-16.png"
                         alt="">
                    <span>Qualité</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'dcr'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/archive-16.png" alt="">
                    <span>Compression</span>
                </a>
            </li>
            <li class="cl">
                <a href="{{ path('app_setting_set', {'option': 'imxfx'}) }}">
                    <img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/lightbulb-16.png"
                         alt="">
                    <span>Effets</span>
                </a>
            </li>
        </ul>
    </div>
    </body>
{% endblock %}
